
<h2 mat-dialog-title>Créer un compte</h2>
<mat-dialog-content class="mat-typography" style="width: 500px;" [formGroup]="registrationForm">
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="prenom">
                <mat-error *ngIf="registrationForm.get('prenom')!.hasError('maxlength')">Le prénom ne peut pas comporter plus de 40 caractères</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="nom">
                <mat-error *ngIf="registrationForm.get('nom')!.hasError('maxlength')">Le nom ne peut pas comporter plus de 40 caractères</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="registrationForm.get('email')!.hasError('email')">Veuillez saisir une adresse électronique valide</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="mot_de_passe">
                <mat-error *ngIf="registrationForm.get('mot_de_passe')!.hasError('maxlength')">Le mot de passe ne peut pas comporter plus de 40 caractères</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Structure</mat-label>
                <input matInput formControlName="structure">
                <mat-error *ngIf="registrationForm.get('structure')!.hasError('maxlength')">La structure ne peut pas comporter plus de 40 caractères</mat-error>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close (click)="register()" [disabled]="!registrationForm.valid">S'enregistrer</button>
</mat-dialog-actions>
