
.content{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;  
}

.logout-button{
    min-width: 200px;
    font-size: 14px;
    margin-top: 20px;
    background: #008080;
    color: white;
    text-transform: uppercase;
}

