
<div class="content">
    <h2>Informations personnelles</h2>

    <mat-spinner *ngIf="!userLoaded" [diameter]="30" class="dataSpinner"></mat-spinner>

    <div *ngIf="userLoaded" class="showInformations"> 
        <div *ngIf="!modifyingPrenom" class="infoLine">
            <div>
                <h5>Prénom</h5>
                <p class="userInfo"> {{ user.prenom }}</p>
            </div>
            <button mat-button class="modif-button" (click)="changeInfos('prenom')">Modifier</button>
        </div>
        <div *ngIf="modifyingPrenom" class="infoLine">
            <div>
                <h5>Prénom</h5>
                <mat-form-field appearance="outline" class="formField">
                    <mat-label>Prénom</mat-label>
                    <input matInput [formControl]="prenom" cdkFocusInitial>
                    <mat-error *ngIf="prenom.hasError('maxlength')">Le prénom ne peut pas comporter plus de 40 caractères</mat-error>
                </mat-form-field>
                <button *ngIf="!savingPrenom" mat-button class="save-button" (click)="saveInfo('prenom')" [disabled]="!prenom.valid">Enregistrer</button>
                <mat-spinner *ngIf="savingPrenom" [diameter]="30" class="sendSpinner"></mat-spinner>
            </div>
            <button mat-button class="modif-button" (click)="cancel('prenom')">Annuler</button>
        </div>
        <hr>

        <div *ngIf="!modifyingNom" class="infoLine">
            <div>
                <h5>Nom</h5>
                <p class="userInfo"> {{ user.nom }}</p>
            </div>
            <button mat-button class="modif-button" (click)="changeInfos('nom')">Modifier</button>
        </div>
        <div *ngIf="modifyingNom" class="infoLine">
            <div>
                <h5>Nom</h5>
                <mat-form-field appearance="outline" class="formField">
                    <mat-label>Nom</mat-label>
                    <input matInput [formControl]="nom">
                    <mat-error *ngIf="nom.hasError('maxlength')">Le nom ne peut pas comporter plus de 40 caractères</mat-error>
                </mat-form-field>
                <button *ngIf="!savingNom" mat-button class="save-button" (click)="saveInfo('nom')" [disabled]="!nom.valid">Enregistrer</button>
                <mat-spinner *ngIf="savingNom" [diameter]="30" class="sendSpinner"></mat-spinner>
            </div>
            <button mat-button class="modif-button" (click)="cancel('nom')">Annuler</button>
        </div>
        <hr>

        <div *ngIf="!modifyingEmail" class="infoLine">
            <div>
                <h5>E-mail</h5>
                <p class="userInfo"> {{ user.email }}</p>
            </div>
            <button mat-button class="modif-button" (click)="changeInfos('email')">Modifier</button>
        </div>
        <div *ngIf="modifyingEmail" class="infoLine">
            <div>
                <h5>E-mail</h5>
                <mat-form-field appearance="outline" class="formField">
                    <mat-label>E-mail</mat-label>
                    <input matInput [formControl]="email">
                    <mat-error *ngIf="email.hasError('email')">Veuillez saisir une adresse électronique valide</mat-error>
                </mat-form-field>
                <button *ngIf="!savingEmail" mat-button class="save-button" (click)="saveInfo('email')" [disabled]="!email.valid">Enregistrer</button>
                <mat-spinner *ngIf="savingEmail" [diameter]="30" class="sendSpinner"></mat-spinner>
            </div>
            <button mat-button class="modif-button" (click)="cancel('email')">Annuler</button>
        </div>
        <hr>
        

        <div *ngIf="!modifyingMdp" class="infoLine">
            <div>
                <h5>Mot de passe</h5>
                <p class="userInfo"> *************** </p>
            </div>
            <button mat-button class="modif-button" (click)="changeInfos('mdp')">Modifier</button>
        </div>
        <div *ngIf="modifyingMdp" class="infoLine">
            <div>
                <h5>Mot de passe</h5>
                <mat-form-field appearance="outline" class="formField">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [formControl]="mot_de_passe">
                    <mat-error *ngIf="mot_de_passe.hasError('maxlength')">Le mot de passe ne peut pas comporter plus de 40 caractères</mat-error>
                </mat-form-field>
                <button *ngIf="!savingMdp" mat-button class="save-button" (click)="saveInfo('mdp')" [disabled]="!mot_de_passe.valid">Enregistrer</button>
                <mat-spinner *ngIf="savingMdp" [diameter]="30" class="sendSpinner"></mat-spinner>
            </div>
            <button mat-button class="modif-button" (click)="cancel('mdp')">Annuler</button>
        </div>
        <hr>

        <div *ngIf="!modifyingStructure" class="infoLine">
            <div>
                <h5>Structure</h5>
                <p class="userInfo"> {{ user.structure }}</p>
            </div>
            <button mat-button class="modif-button" (click)="changeInfos('structure')">Modifier</button>
        </div>
        <div *ngIf="modifyingStructure" class="infoLine">
            <div>
                <h5>Structure</h5>
                <mat-form-field appearance="outline" class="formField">
                    <mat-label>Structure</mat-label>
                    <input matInput [formControl]="structure">
                    <mat-error *ngIf="structure.hasError('maxlength')">La structure ne peut pas comporter plus de 40 caractères</mat-error>
                </mat-form-field>
                <button *ngIf="!savingStructure" mat-button class="save-button" (click)="saveInfo('structure')" [disabled]="!structure.valid">Enregistrer</button>
                <mat-spinner *ngIf="savingStructure" [diameter]="30" class="sendSpinner"></mat-spinner>
            </div>
            <button mat-button class="modif-button" (click)="cancel('structure')">Annuler</button>
        </div>
        <hr>
    </div>

    <div *ngIf="userLoaded" class="buttons">
        <button *ngIf="!sendingData" mat-button class="send-button" (click)="sendData()"><mat-icon class="sendIcon">send</mat-icon></button>
        <mat-spinner *ngIf="sendingData" [diameter]="30" class="sendSpinner"></mat-spinner>
        <p class="btnInfo">Envoyer toutes mes données par e-mail (format CSV)</p>
    </div>

    <!-- <p style="text-align: center; color: black; margin-top: 100%;"><mat-icon>copyright</mat-icon> Modeste Professeur Valentin Flageul. Institut SupAgro.</p> -->
   
</div>


