<div class="content">

    <div class="header">
        <h2>Exporter des données</h2>     
        <mat-select [(value)]="campagneSelected" (selectionChange)="changeCampagne($event.value)" class="campagneSelector">
            <mat-option *ngFor="let campagne of campagnes" value="{{campagne.year}}" class="option">Campagne {{campagne.year}}</mat-option>
        </mat-select>
    </div>

    <div class="headerDesc">
        <p>Vous pouvez exporter sous format <b>PDF</b> la <b>page parcelle</b> d'une ou plusieurs parcelles.</p>
        <p>Vous pouvez exporter sous format <b>CSV</b> les <b>sessions d'observations</b> d'une ou plusieurs parcelles.</p>
    </div>

    <div *ngIf="!dataHasLoaded" class="waitingContent">
      <mat-spinner [diameter]="30" class="loadingSpinner"></mat-spinner>
      Veuillez patienter...
    </div>
    

    <div class="accordions">
        <mat-accordion class="accordion">
            <mat-expansion-panel >
              <mat-expansion-panel-header  class="panelHeader">
                <mat-panel-title>
                    Mes parcelles
                </mat-panel-title>
                <mat-panel-description>
                    Retrouvez les parcelles que vous avez observé
                </mat-panel-description>
              </mat-expansion-panel-header>
              
                <mat-checkbox class="allSelectCheckboxes" (change)="setAllObserved($event.checked)" [checked]="checkAllObservedSelected()" 
                >Tout sélectionner
              </mat-checkbox>

                <mat-checkbox *ngFor="let parcelle of parcellesObserved" class="parcellesCheckboxes" (change)="checkParcelle($event, parcelle)" 
                 [checked]="checkAllObservedSelected()">{{parcelle.nom_parcelle}}
              </mat-checkbox>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header class="panelHeader">
                <mat-panel-title>
                    Parcelles partagées ??
                </mat-panel-title>
                <mat-panel-description>
                    A CLARIFIER
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-checkbox *ngFor="let parcelle of parcellesShared" class="parcellesCheckboxes" [labelPosition]="'before'">{{parcelle.nom_parcelle}} 
                ( propriétaire : {{parcelle.nom_proprietaire}} {{parcelle.prenom_proprietaire}} )
              </mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
    </div>

    <div class="exportButtons">
        <button *ngIf="!exportingCSV" mat-button class="csv-button" (click)="exportCSV()" 
        [disabled]="nothingSelected()"> <mat-icon class="fileIcon">table_chart</mat-icon> Export CSV
      </button>

        <button *ngIf="!exportingPDF" mat-button class="pdf-button" (click)="exportPDF()" 
        [disabled]="nothingSelected()"><mat-icon class="fileIcon">picture_as_pdf</mat-icon> Export PDF
      </button>
    </div>

</div>
