
<div class="content">

    <div>
        <img src="../../../assets/images/apex_logo_blanc_cadre.png" class="logo">
    </div>

    <div>
        <mat-form-field appearance="outline" class="formfield">
            <mat-label>{{ 'email' | translate }}</mat-label>
            <input matInput [formControl]="email" class="opacity-input">
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="outline">
            <mat-label>{{ 'password' | translate }}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" class="opacity-input">
        </mat-form-field>
    </div>
    
    <div class="row">
        <button mat-button class="login-button" (click)="login()" [disabled]='!email.valid || !password.valid'>{{ 'connect' | translate }}</button>
    </div>
    
    <div class="forgetpwd" (click)="forgetpwd()" [translate]="'passwordRecup'"></div>

    <div class="langage">
        <mat-select (selectionChange)="changeLang($event.value)" [(value)]="langSelected" class="selector">
            <mat-option value="fr">Français</mat-option>
            <mat-option value="en">English</mat-option>
            <mat-option value="es">Espagnol</mat-option>
            <mat-option value="zh">Chinese</mat-option>
        </mat-select>
        <img [src]="languageIconPath" class="countryIcon">
    </div>

    <div>
        <button mat-button  class="register-button" (click)="showRegisterForm()" routerDirection="forward"> {{ 'register' | translate }}</button>
    </div>

    <div>
        <p class="credit">apexvigne@agrotic.org</p>
    </div>
    
</div>

