<div class="content">

    <div lines="none">
        <img src="../../../assets/images/apex_logo_blanc_cadre.png" class="logo">
    </div>
    
    <div lines="none">
        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ 'email' | translate }}" [formControl]="email" class="opacity-input">
        </mat-form-field>
    </div>
    
    <div lines="none">
        <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{ 'password' | translate }}" [formControl]="password" class="opacity-input">
        </mat-form-field>
    </div>
    
    <div>
        <button mat-button (click)="login()" class="login-button" [translate]="'connect'"></button>
    </div>
    
    <div class="forgetpwd" (click)="forgetpwd()" [translate]="'passwordRecup'"></div>
    
    <!-- <ion-row class="langage">
        <p [translate]="'language'" style="color: white;"></p>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()" okText="{{ 'okBtn' | translate }}" cancelText="{{ 'cancel' | translate }}" style="margin-left: 5%; color: white;">
        <ion-select-option *ngFor="let country of supportedLanguages | keyvalue" value="{{country.value}}"> {{country.key}} </ion-select-option>
        </ion-select>
        <ion-img [src]="languageIconPath" style="margin-left: 3%;"></ion-img>
    </ion-row>  -->

    <div>
        <button mat-button expand="full" class="register-button main-button" routerLink="/register" routerDirection="forward" [translate]="'register'"> </button>
    </div>

    <div>
        <p class="credit">apexvigne@agrotic.org</p>
    </div>
    
</div>

