
.login-button{
    min-width: 200px;
    font-size: 14px;
    margin-top: 20px;
    background: #45D7C2;
    color: white;
    text-transform: uppercase;
}

.option{
    color: black;
    font-family: 'Sora', sans-serif;
}

.mat-select-value{    
    font-family: 'Sora', sans-serif;  
}

.register-button{
    min-width: 200px;
    font-size: 14px;
    margin-top: 40px;
    background: none;
    border : 1px solid white;
    color: white;
    text-transform: uppercase;
}

.formfield{
    margin-top: 40px;
}

.opacity-input{
    color: white;
}

.content{
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    background: linear-gradient(#1FC2A5, #076589);
}

.forgetpwd:hover{
    cursor: pointer;
    color: black;
}

.forgetpwd{
    color: white;
    margin-top: 40px;
}

.logo{
    width: 250px;
    margin-top: 100px;
}

.credit{
    color: rgba(255, 255, 255, 0.534);
    font-style: italic;
    margin-top : 40px;
}

.langage{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

// ::ng-deep .mat-select-value{    
//     color: white!important;  
// }

.selector{
    width: 150px;
    font-family: 'Sora', sans-serif;
}

.countryIcon{
    margin-left: 15px;
}

