<div>
    <mat-drawer-container class="matDrawerContainer" autosize>
        <mat-drawer #drawer class="drawer" mode="side" position="end">
            <button mat-icon-button (click)="drawer.close()">
                <mat-icon>close
                </mat-icon>
            </button>
            <h2>Détails session d'observation</h2>
            
            <hr class="hr"/>

            <h5>Session d'observation réalisée le :</h5>
            <h5> <b> {{ dateCreaSelected }}</b> </h5>
            <h5>Sur la parcelle : </h5>
            <h5 class="parcelleLink" routerLinkActive="active" [routerLink]="['/home/parcelle-detail', parcelleSelected]"> <b> {{ parcelleSelected }} </b> </h5>
            <h5>Dernière mise à jour le :</h5>
            <h5> <b> {{ dateModifSelected }} </b> </h5>

            <hr class="hr"/>

            <h3 style="margin-top: 10px;">Croissance</h3>
            <div class="pie">
                <canvas id="pieChart"></canvas>
            </div>

            <hr class="hr"/>

            <h3 style="margin-top: 10px;">Contrainte hydrique</h3>
            <h4 *ngIf="ifvClasseSelected == 0" class="absente" >Absente</h4>
            <h4 *ngIf="ifvClasseSelected == 1" class="moderee" >Modérée</h4>
            <h4 *ngIf="ifvClasseSelected == 2" class="importante" >Forte</h4>
            <h4 *ngIf="ifvClasseSelected == 3" class="forte" >Sévère</h4>

            <hr class="hr"/>

            <h3 style="margin-top: 10px;">iC-ApeX</h3>
            <h4 class="icapex" >{{ icapexSelected }}</h4>

            <hr class="hr"/>
            
        </mat-drawer>
        
        <div id="map" class="map"></div>
    </mat-drawer-container>
</div>


