.matDrawerContainer { 
    height: 80%; 
    width : auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: white;
}

.campagneSelector{
    width: 200px;
    max-height: 40px;
    margin-left: auto; 
    margin-right: 40px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Sora', sans-serif;
}

.mat-icon {
    vertical-align: middle;
}

.stepperComponent{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display : flex; 
}

.stepper{
    width: 100%;
    flex-grow: 2;
}

.stepperContent{
    font-family: 'Sora', sans-serif;
}

.arrow-icons{
    display: flex;
    height: 72px;
    align-items: center;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: teal;
}

.mat-step-header {
    pointer-events: none !important;
}

.spinner{
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.option{
    color: black;
    font-family: 'Sora', sans-serif;
}

::ng-deep .mat-select-value{    
    color: black !important;  
}

.map{
    height: 100%; 
    width: 100%;
    border : 3px solid #008080;
}

.drawerTitle{
    width: 100%;
}

.hr{
    width: 75%; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.drawer{
    background: white;
    color: black;
    border : 3px solid #008080;
    width: 33%;
    height: 100%; 
    display: flex;
    text-align: center;
}

.pie{
    margin: auto;
    width: 225px;
    height: 225px;
}

.absente {
    border: #494949 solid 1px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(204, 255, 255);
}

.moderee {
    border: #494949 solid 1px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 153);
}

.importante {
    border: #494949 solid 1px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 204, 0);
}

.forte {
    border: #494949 solid 1px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 102, 0);
}

.icapex{
    color: rgb(0, 101, 130);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.parcelleLink:hover{
    cursor: pointer;
}

.parcelleLink{
    text-decoration: underline;
}

