<div style="height: 100%;">
    <div style="margin-top: 40px; max-height: 100px; width: 100%;" class="row">
        <h2 class="col-9 col-lg-7 col-md-7 col-sm-5 col-xs-2" style="margin-left: 50px;">Sessions d'observations</h2>
        <mat-select [(value)]="campagneSelected" (selectionChange)="changeCampagne($event.value)" class="campagneSelector">
            <mat-option *ngFor="let campagne of campagnes" value="{{campagne.year}}" class="option">Campagne {{campagne.year}}</mat-option>
        </mat-select>
    </div>

    <div class="stepperComponent">
        <div class="arrow-icons">
            <button mat-icon-button (click)="paginatorBack()" *ngIf="page > 0">
            <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        
        <div class="stepper">
            <mat-horizontal-stepper #stepper (selectionChange)="stepSelectionChange($event)" class="stepperContent">
            <mat-step *ngFor="let week of weeks" label="Semaine du {{ week.firstDay }}">
            </mat-step>
            </mat-horizontal-stepper>
        </div>
        
        <div class="arrow-icons">
            <button mat-icon-button (click)="paginatorNext()" *ngIf="page < totalPages - 1">
            <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="!dataHasLoaded" class="row spinner">
        <mat-spinner [diameter]="30" style="margin-right: 10px;"></mat-spinner> Veuillez patienter...
    </div>

    <mat-drawer-container class="matDrawerContainer" autosize>
        <mat-drawer #drawer class="drawer" mode="side" position="end">
            <button mat-icon-button (click)="closeDrawer()">
                <mat-icon>close
                </mat-icon>
            </button>
            <h2 class="parcelleLink" routerLinkActive="active" [routerLink]="['/home/parcelle-detail', idOfparcelleSelected]">{{ nameOfparcelleSelected }}</h2>
            
            <hr class="hr"/>

            <h4>Croissance au : </h4>
            <h5> <b> {{ dateSessionSelected }}</b> à <b> {{ heureSessionSelected }}</b> </h5>

            <hr class="hr"/>
            
            <div class="pie">
                <canvas id="pieChart"></canvas>
            </div>

            <hr class="hr"/>

            <h3 style="margin-top: 10px;">iC-ApeX</h3>
            <h4 class="icapex" >{{ icapexSelected }}</h4>

            <hr class="hr"/>

            <h3 style="margin-top: 10px;">Dynamique de croissance</h3>
            <img *ngIf="dynamiqueSelected == 2" src="../../../assets/images/f0.jpg" />
            <img *ngIf="dynamiqueSelected == 1" src="../../../assets/images/f1.jpg" />
            <img *ngIf="dynamiqueSelected == 0" src="../../../assets/images/f2.jpg" />
            <img *ngIf="dynamiqueSelected == -1" src="../../../assets/images/f3.jpg" />

            <hr class="hr"/>

            <h3 style="margin-top: 10px;">Interprétation de la contrainte hydrique</h3>
            <h4 *ngIf="ifvClasseSelected == 0" class="absente" >Absente</h4>
            <h4 *ngIf="ifvClasseSelected == 1" class="moderee" >Modérée</h4>
            <h4 *ngIf="ifvClasseSelected == 2" class="importante" >Forte</h4>
            <h4 *ngIf="ifvClasseSelected == 3" class="forte" >Sévère</h4>

            <hr class="hr"/>
        </mat-drawer>
        
        <div id="map" class="map"></div>
    </mat-drawer-container>

    <p style="text-align: center; color: black; margin-top: 50px;"><mat-icon>copyright</mat-icon> Modeste Professeur Valentin Flageul. Institut SupAgro.</p>
    
</div>


