/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html, body { 
    height: 100%; 
}

body { 
    font-family: 'Sora', sans-serif;
    margin : 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

$light-select-primary: mat.define-palette(mat.$indigo-palette);
$light-select-accent: mat.define-palette(mat.$pink-palette);
$light-select-theme: mat.define-light-theme((
 color: (
   primary: $light-select-primary,
   accent: $light-select-accent,
 )
));

$light-stepper-primary: mat.define-palette(mat.$teal-palette);
$light-stepper-accent: mat.define-palette(mat.$cyan-palette);
$light-stepper-theme: mat.define-light-theme((
 color: (
   primary: $light-stepper-primary,
   accent: $light-stepper-accent,
 )
));

$light-radio-primary: mat.define-palette(mat.$teal-palette);
$light-radio-accent: mat.define-palette(mat.$teal-palette);
$light-radio-theme: mat.define-light-theme((
 color: (
   primary: $light-radio-primary,
   accent: $light-radio-accent,
 )
));

$dark-primary: mat.define-palette(mat.$teal-palette);
$dark-accent: mat.define-palette(mat.$cyan-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

@include mat.select-theme($light-select-theme);
@include mat.stepper-theme($light-stepper-theme);
@include mat.form-field-theme($light-stepper-theme);
@include mat.dialog-theme($light-stepper-theme);
@include mat.snack-bar-theme($light-radio-theme);
@include mat.expansion-theme($light-stepper-theme);
@include mat.checkbox-theme($light-radio-theme);
